
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Body styles */
.splash {

    /* Adjusted opacity */
    font-family: "Roboto", sans-serif; /* Apply the imported font */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Ensure full height */
    display: flex; /* Center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.sign {
    text-align: center;
    margin-left: 20px;
    margin-top: 100px;
}



