@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
@import "tailwindcss";

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: #302d2d;
}

/* login styles */

.login-container {
  display: flex;
  top: 10px;
  height: 80vh;
  width: 60vw;
  background: #2e2e2e;
  color: white;
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  flex: 1;
  display: flex;
  /* margin-top: 50px; */
  border-radius: 20px;
  color: white;
  padding: 20px;
}
.right-section h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
}

.login-form {
  background: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 450px;
  height: 70vh;
  text-align: center;
  padding-top: 200px;
  padding-right: 100px;
  padding-left: 50px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
}

.input-group input {
  flex: 1;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 10px;
  background: transparent;
  color: white;
}

.icon {
  color: #ccc;
  margin-right: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.forgot-password {
  text-align: right;
  font-size: 12px;
  cursor: pointer;
}

.sign {
  text-align: center;
  margin-left: 20px;
  margin-top: 100px;
}

/*Profile.css */
.profile-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-title {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-info {
  text-align: center;
}

.profile-avatar {
  margin-bottom: 15px;
}

.avatar-placeholder {
  font-size: 50px;
  border-radius: 50%;
  background-color: #e0e0e0;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.profile-name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.profile-details {
  margin: 20px 0;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.detail-label {
  color: #555;
}

.detail-value {
  font-weight: bold;
}

.update-button {
  background-color: #925fe2;
  text-align: center;
  justify-items: center;
  color: white;
  margin-left: 70px;
  border: none;
  border-radius: 12px;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 16px;
}

.update-button:hover {
  background-color: #3700b3;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.register {
  border: none;
}

.register input {
  border: none;
  border-bottom: 2px solid;
}

.register-container {
  background: #2e2e2e;
  color: white;
  margin: 10px;
}

.register-container .left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container .right-section {
  flex: 1;
  display: flex;
  margin-top: 10px;
  margin-left: -27vw;
  color: white;
  border-radius: 30px;
  padding: 20px;
}

.register-form {
  background: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  padding-right: 30px;
}

.input-group-register input {
  flex: 1;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-top: 2px;
  background: transparent;
  color: white;
}
.userProfile{
  right:20px;
}
.profile-picture{
  background: white;
}
.enhanceForm{
  color: #2e2e2e;
}
.viewprofile {
  width: 70%;
  height: 75vh;
  color:gray;
}
.viewprofile h4{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;

}
.viewclose{
  width: 5%;
  float: right;
  margin-right: 2px;
}
.btn1{
  cursor: pointer;
  font-size: 12px;
  border: 2px solid #925fe2;
  border-radius: 20px;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.btn1:hover{
  background: rgb(61, 61, 61);
  color: white;
}